<h2>Data File DB Load</h2>
<
<ul>
  <li><%= @data_file.name %></li>
  <li><%= @data_file.category %></li>
  <li><%= @data_file.description %></li>
  <li><%= @data_file.csv_file %></li>
  <li><%= @data_file.created_at.localtime %></li>
</ul>
<div id="chart"></div>
<script>
var chart = c3.generate({
    data: {
        x: 'x',
        columns: [
            ['x', 30, 50, 100, 230, 300, 310],
            ['data1', 30, 200, 100, 400, 150, 250]
        ]
    }
});
</script>

<table>
  <tr>
    <th>Time</th>
    <th>Force</th>
  </tr>
    <% @file.each do |entry| %>
    <tr>
      <% entry.each do |data|%>
          <td><%= data %></td>
      <% end %>
    </tr>
    <% end %>

</table>
