<div class="row">
  <div class="columns large-12">
  <table>
    <thead>
      <tr>
        <th>Line Chart Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div><%= @data_file.name %></div></td>
      </tr>
      <tr>
        <td><div><%= @data_file.category %></div></td>
      </tr>
      <tr>
        <td><div><%= @data_file.csv_file %></div></td>
      </tr>
      <tr>
        <td><div><%= @data_file.created_at.localtime %></div></td>
      </tr>
    </tbody>
</table>
    <div id="chart1"></div>
    <script>
    var chart = c3.generate({
      bindto: '#chart1',
      size: { height: 400},
        data: {
            x: 'x',
            columns: [
                gon.x_time,
                gon.data1,
                gon.data2,
                gon.data3,
                gon.data4,
                gon.data5,
                gon.data6,
                gon.data7,
                gon.data8
            ]
        },
        axis: {
            x: {
                label: 'Time in seconds'
            },
            y: {
                label: 'Force in grams'
            }
        }
    });
    </script>
    <h4>First Ten Rows of data</h4>
    <table>
      <tr>
        <th>Time</th>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
        <th>Column 4</th>
        <th>Column 5</th>
        <th>Column 6</th>
        <th>Column 7</th>
        <th>Column 8</th>
      </tr>
        <% @file.first(10).each do |entry| %>
        <tr>
          <% entry.each do |data|%>
              <td><%= data %></td>
          <% end %>
        </tr>
        <% end %>
    </table>

    <!-- Code from Lorry -->
    <%= javascript_tag do %>
      var x_axis = <%= @file[0].to_json.html_safe %>
    <% end %>
  </div>
</div>
